on:
  workflow_call:
    inputs:
      name:
        type: string
        required: true
      dotnet_version:
        type: string
        required: true
      artifact_name:
        type: string
        required: true
    secrets:
      TEAMS_HEALTH_WEBHOOK:
        required: true

jobs:
  Test:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup kernel for tests, increase instances
        run: echo fs.inotify.max_user_instances=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Setup kernel for tests, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.9.0
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact_name }}
          path: project

      - name: Run tests
        run: cd project && ls && dotnet test

      - name: Notify if failed
        uses: skitionek/notify-microsoft-teams@master
        if: github.event_name != 'pull_request' && failure()
        with:
          job: ${{ toJson(job) }}
          webhook_url: ${{ secrets.TEAMS_HEALTH_WEBHOOK }}
          overwrite: "{title: '${{ inputs.name }} are failing'}"

