on:
  workflow_call:
    inputs:
      name:
        type: string
        required: true
      dotnet_version:
        type: string
        required: true
      path:
        type: string
        required: true
    secrets:
      TEAMS_HEALTH_WEBHOOK:
        required: true

jobs:
  build_and_deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup kernel for tests, increase instances
        run: echo fs.inotify.max_user_instances=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Setup kernel for tests, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - uses: actions/checkout@v2.4.0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.9.0
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - name: Cache NuGet packages
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.nuget/packages
            **/project.assets.json
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      
      - name: Cache build output
        uses: actions/cache@v3
        with:
          path: |
            **/*.dll
            **/*.deps.json
          key: ${{ runner.os }}-build-cache-${{ hashFiles('**/*.deps.json') }}
          restore-keys: |
            ${{ runner.os }}-build-cache-


      - name: Restore
        if: steps.cache.outputs.cache-hit != 'true'
        run: cd $GITHUB_WORKSPACE/${{ inputs.path }} && dotnet restore

      - name: Build
        run: cd $GITHUB_WORKSPACE/${{ inputs.path }} && dotnet build --no-restore

      - name: Run tests
        run: cd $GITHUB_WORKSPACE/${{ inputs.path }} && dotnet test --no-build


      - name: Notify if failed
        uses: skitionek/notify-microsoft-teams@master
        if: github.event_name != 'pull_request' && failure()
        with:
          job: ${{ toJson(job) }}
          webhook_url: ${{ secrets.TEAMS_HEALTH_WEBHOOK }}
          overwrite: "{title: '${{ inputs.name }} are failing'}"

